<ion-view title="Criar conta" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="criarConta-form3" class="list">
      <ion-list id="criarConta-list5">
        <label class="item item-input" id="criarConta-input3">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="criarConta-input4">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="criarConta-input5">
          <span class="input-label">Repita senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="sucesso()" id="criarConta-button6" class="button button-stable button-block">Criar</a>
    </form>
  </ion-content>
</ion-view>