<ion-view title="ENCOMENDAS" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="eNCOMENDAS-form2" class="list">
      <h4 id="eNCOMENDAS-heading4" style="color:#000000;text-align:center;">Selecione os seus produtos</h4>
      <label class="item item-select" id="eNCOMENDAS-select1">
        <span class="input-label">Produto 1</span>
        <select>
          <option>Pão Francês</option>
          <option>Pão de Leite</option>
          <option>Mortadela Defumada</option>
          <option>Mortadela Comum</option>
          <option>Coca Cola 2L</option>
          <option>Mussarela</option>
          <option>Presunto</option>
        </select>
      </label>
      <label class="item item-select" id="eNCOMENDAS-select2">
        <span class="input-label">Produto 2</span>
        <select>
          <option>Pão Francês</option>
          <option>Pão de Leite</option>
          <option>Mortadela Defumada</option>
          <option>Mortadela Comum</option>
          <option>Coca Cola 2L</option>
          <option>Mussarela</option>
          <option>Presunto</option>
        </select>
      </label>
      <label class="item item-select" id="eNCOMENDAS-select3">
        <span class="input-label">Produto 3</span>
        <select></select>
      </label>
      <label class="item item-select" id="eNCOMENDAS-select4">
        <span class="input-label">Produto 4</span>
        <select>
          <option></option>
        </select>
      </label>
      <label class="item item-select" id="eNCOMENDAS-select5">
        <span class="input-label">Produto 5</span>
        <select></select>
      </label>
    </form>
    <a ui-sref="tabsController.pedidoEnviado()" id="eNCOMENDAS-button4" class="button button-positive button-block">Pedir</a>
  </ion-content>
</ion-view>