<ion-view title="INÍCIO" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="iNCIO-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="iNCIO-slide210" style="background:url(&quot;img/gaaPphWdTOaIqeTRHR1u_paoini.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="iNCIO-slide211" style="background:url(&quot;img/Cw7SzIJVQU2pmrUR16Qz_paozinho.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h1 id="iNCIO-heading1" style="color:#000000;text-align:center;">Início</h1>
    <div id="iNCIO-markdown1" class="show-list-numbers-and-dots"></div>
    <div id="iNCIO-markdown2" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Pense em como é gostoso comer. Em chegar na sua casa depois de um dia cansado de trabalho e comer um bolo caseiro bem gostoso, ou de acordar cedo e tomar um bom café com um pão quentinho que acabou de sair. Gostoso, não é? Bom, é assim que Panificadora
        Ki-Massa trabalha, com pães fresquinhos, feito por nós mesmos, com bolos caseiros que fazemos em nossa cozinha, com pães caseiros e de leite que fazemos com o maior prazer. E a quem não gosta de doces, não é? Doces fresquinhos e deliciosos feito
        para você! Temos roscas, pudim, bolo, brigadeiro, beijinho e por aí vai.</p>
    </div>
    <h1 id="iNCIO-heading2" style="color:#000000;text-align:center;">História</h1>
    <div id="iNCIO-markdown4" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;"> O projeto para a construção da padaria vai além de seu prédio. Ela vem de um sonho... O sonho de Valdemar Ferreira Bueno.</p>

      <p style="color:#000000;">Valdemar começou a trabalhar com padaria aos 9 anos e seu sonho sempre foi ter a sua própria padaria. Ele sempre batalhou para que isso acontecesse, trabalhando de entregar pão, trabalhando a noite, fazendo coisas que não era comum entre os padeiros,
        coisas que seus patrões ficavam impressionados com o modo dele trabalhar.</p>

      <p style="color:#000000;">E aos pouquinhos que seu sonho foi virando realidade, trabalhando um pouquinho aqui, se esforçando um pouquinho ali, Valdemar conseguiu fundar a Panificadora Ki-massa.</p>

      <p style="color:#000000;">Hoje, com ele mesmo produzindo os produtos, Valdemar conta também com ajuda da família para que tudo saia com qualidade e o melhor com um sabor delicioso. Hoje, um negócio que era um sonho, se tornou realidade e esse sonhos se chama Panificadora
        Ki-Massa.</p>
    </div>
    <h1 id="iNCIO-heading3" style="color:#000000;text-align:center;">Localização</h1>
    <div id="iNCIO-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Av. Ângelo Bertine - Lot. Conj. Hab. Antonio Assad Alcici</p>
    </div>
    <div>
      <img src="img/USbTTjnvQX63h6k2MKNu_mapa.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>