<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Usuário</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.iNCIO_tab1()" id="login-button2" class="button button-stable button-block">Entrar</a>
      <a ui-sref="criarConta()" id="login-button3" class="button button-positive button-block button-clear">Criar conta</a>
    </form>
  </ion-content>
</ion-view>