<ion-view title="MINHA CONTA" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="mINHACONTA-list3">
      <ion-item class="item-thumbnail-left" id="mINHACONTA-list-item6">
        <img src="img/tfTH9jjnRJCYwnMHYkJf_thanos.jpg">
        <h2>Thanos</h2>
        <p>Gasto R$: Tudo o que tinha</p>
      </ion-item>
      <ion-item id="mINHACONTA-list-item7">Gamora</ion-item>
      <ion-item id="mINHACONTA-list-item8">Quill</ion-item>
      <ion-item id="mINHACONTA-list-item9">Strange</ion-item>
      <ion-item id="mINHACONTA-list-item10">Manopla</ion-item>
      <ion-item id="mINHACONTA-list-item11">Jóias</ion-item>
    </ion-list>
    <button id="mINHACONTA-button1" class="button button-positive button-block">Pagar</button>
  </ion-content>
</ion-view>