<ion-view title="Pedido enviado" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="pedidoEnviado-heading5" style="color:#000000;text-align:center;">Parabéns !!</h1>
    <div id="pedidoEnviado-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O seu pedido foi realizado e enviado com sucesso a Padaria. Ele chegará em breve, portanto, covidamos você a explorar nosso aplicativo e nossos produtos. Até mais !</p>
    </div>
    <div>
      <img src="img/1HFkJYb3Sx6ifVj6OntX_nelsindotokdanavioska.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="tabsController.iNCIO()" id="pedidoEnviado-button5" class="button button-positive button-block">Voltar ao Início</a>
  </ion-content>
</ion-view>