<ion-view title="Sucesso" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="sucesso-heading6" style="color:#000000;text-align:center;">Conta Criada</h1>
    <div id="sucesso-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Parabéns ! Sua conta foi criada com sucesso e agora voce pode fazer seus pedidos e acessar sua conta tudo pelo nosso App! Que tal começar agora ? Clique no botão abaixo e inicie suas compras!</p>
    </div>
    <a ui-sref="tabsController.iNCIO_tab1()" id="sucesso-button7" class="button button-positive button-block">Clique aqui</a>
  </ion-content>
</ion-view>